{% extends 'base/layout.html' %}
{% load filter_tags %}
{% load static %}

{% block content %}

<section class="production bg-dark" id="product">
    <div class="container">
        <div class="row">
           <div class="col-md-12 col-md-offset-3 col-md-pull-3 text-center">
              <span class="heading-meta">Scener</span>
              <span class="heading-meta-sub">Scener</span>
              <h2>{{ scener.name }}</h2>
           </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="about" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 welcome-section">


                <div class="row">
                    <div class="col-md-12">

                        <div class="content-info">
                            <div class="row">
                                {% if scener.roles %}
                                <div class="col-md-6 single-info">
                                    <span>Roles:</span>
                                    {% spaceless %}
                                    {% for role in scener.roles.all %}
                                        {% if forloop.first == False %}
                                            <span>, </span><span>{{ role.name }}</span>
                                        {% else %}
                                            {{ role.name }}
                                        {% endif %}
                                    {% endfor %}
                                    {% endspaceless %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-6 single-info">
                                    <span>Miembro de:</span>
                                    <ul>
                                    {% spaceless %}
                                    {% for group in groups.all %}                                    
                                        <li>{{ group.name }}</li>
                                    {% endfor %}
                                    {% endspaceless %}
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                {% if scener.external_link %}
                                <div class="col-md-6 single-info">
                                    <span>Links:</span>
                                    <p><a href="{{ scener.external_link }}">{{ scener.external_link }}</a></p>
                                </div>
                                {% endif %}
                            </div>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
    <!-- End About -->

{% endblock %}
