{% extends 'base/layout.html' %}
{% load filter_tags %}
{% load static %}
{% load embed_video_tags %}
{% load mathfilters %}
{% block content %}

<section class="production bg-dark" id="product">
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 col-md-offset-3 col-md-pull-3 text-center">
            <span class="heading-meta">Producciones</span>
            <span class="heading-meta-sub">Producciones</span>
         </div>
      </div>

      <div class="row bg-dark">
         <div class="col-md-6 mb-6">
            {% if production.videolink %}
               {% video production.videolink as videolink %}
                  {% video videolink '100% x 450' %}
               {% endvideo %}
            {% endif %}
         </div>
         <div class="col-md-6">
            <div id="sticky_item">
               <div class="desc">
                  <h2>{{ production.title }}
                     <span class="text-muted"><small>{{ production.get_production_type_display }} </small> 
                        {% if production.group %}
                           <small> by {{ production.group.name }} </small>
                        {% endif %}
                         <small>| {{ production.edition.name }} </small>
                     </span>
                  </h2>
                  <div class="content-info">
                     <div class="row item">
                        {% if classificacion %}
                        <div class="col-md-6 single-info">
                           <span style="color: #00ebab; text-transform: uppercase;">Clasificación:</span>
                           <p>{{ clasificacion }} position {{ production.get_production_type_display }} compo</p>
                        </div>
                        {% endif %}
                        <div class="col-md-6 single-info">
                           <span style="color: #00ebab; text-transform: uppercase;">Tipo:</span>
                           <p>{{ production.get_production_type_display }}</p>
                        </div>

                        <div class="col-md-6 single-info">
                           <span style="color: #00ebab; text-transform: uppercase;">Grupo:</span>
                           <p>{{ production.group.name }}</p>
                        </div>

                        <div class="col-md-6 single-info">
                           {% if production.authors.all|length > 1 %}
                              <span style="color: #00ebab; text-transform: uppercase;">Autores:</span>
                              
                           {% else %}
                              <span style="color: #00ebab; text-transform: uppercase;">Autor:</span>
                           {% endif %}
                           <br/>
                           <ul>
                           {% for author in production.authors.all %}
                              <li><a href="/scene/author/{{ author.id }}">{{ author.name }}</a></li><br/></li>
                           {% endfor %}
                           </ul>
                        </div>
                        <div class="col-md-6 single-info">
                           <p><a href="{{ production.filepath.url }}"><i class="icon fas fa-download"></i> {{ production.filepath.path | last_element:"/" }}</a>
                              <br/>{{ production.filepath.size | intdiv:1024 }} Kb</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin:4px 2px 0 0;">  
              
         {% if production.description %}
         <div class="content-info">
            <div class="single-info">
               {{ production.description | safe}}
            </div>
         </div>
         {% endif %}
      </div>
   </div>
   
</section>

 {% endblock %}