{% extends 'base/layout.html' %}
{% load filter_tags %}
{% load static %}
{% block content %}
   <!-- Banner -->

   <!-- Blog -->

   <section class="blog" id="blog">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 col-md-offset-3 col-md-pull-3 text-center">
               <span class="heading-meta">Compos</span>
               <span class="heading-meta-sub">COMPOS</span>
               <h2>Producciones</h2>
            </div>
         </div>

         <div class="row">

            {% for production in productions %}
            <div class="col-md-4 col-sm-6">
               <div class="blog-entry">
                  <!-- <div class="date">Oct 30<br> 2019</div> -->
                  <a href="/productions/{{ production.id }}" class="blog-img"><img src="{{production.preview.url}}"  alt=""></a>
                  
                  <div style="padding: 10px 10px;">
                     <span class="text-muted"><small>{{ production.get_production_type_display }} </small> 
                        {% if production.group %}
                           <small> by {{ production.group.name }} </small>
                        {% endif %}
                        <small>| {{ production.edition.name }} </small>
                     </span>
                     <h3><a href="/productions/{{ production.id }}">{{ production.title }}</a></h3>
                     <p>
                        <small>
                        {% if production.authors.all|length > 1 %}
                           <span style="color: #00ebab; text-transform: uppercase;">Autores:</span>
                        {% else %}
                           <span style="color: #00ebab; text-transform: uppercase;">Autor:</span>
                        {% endif %}
                        </small>
                        {% spaceless %}
                        {% for author in production.authors.all %}
                        {% if forloop.first == False %}
                        <span>, </span><span><a href="/productions/author/{{ author.id }}">{{ author.name }}</a></span>
                        {% else %}
                        <span><a href="/productions/author/{{ author.id }}">{{ author.name }}</a></span>
                        {% endif %}
                        {% endfor %}
                        {% endspaceless %}
                     </p>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>




   <!-- End Blog -->

 {% endblock %}