{% extends 'base/layout.html' %}
{% load static %}
{% block content %}

<div class="row">

    {% for production in productions %}
    <div class="col-md-4 col-sm-6">
       <div class="blog-entry">
          
          <a href="blog.html" class="blog-img mb-3"><img src="{{production.preview.url}}" class="img-responsive" alt=""></a>
          <div class="desc">
             
            <div class="date">{{ production.published_date|date:"M d Y" }}</div>
            {% if production.description %}
               <p>{{ production.description | safe}}</p>
            {% endif %}
            <div class="content-info">
               <div class="row item">
                  <div class="col-md-6 single-info item">
                     <span style="color: #00ebab; text-transform: uppercase;">Nombre de producción:</span>
                     <p>{{ production.title }}</p>
                  </div>
                  <div class="col-md-6 single-info">
                     <span style="color: #00ebab; text-transform: uppercase;">Tipo:</span>
                     <p>{{ production.get_production_type_display }}</p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 single-info">
                     <span style="color: #00ebab; text-transform: uppercase;">Grupo:</span>
                     <p>{{ production.group.name }}</p>
                  </div>
                  <div class="col-md-6 single-info">
                     
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 single-info">
                     {% if production.authors.all|length > 1 %}
                        <span style="color: #00ebab; text-transform: uppercase;">Autores:</span>
                     {% else %}
                        <span style="color: #00ebab; text-transform: uppercase;">Autor:</span>
                     {% endif %}
                     <br/>
                     {% for author in production.authors.all %}
                        {{ author.name }}<br/>
                     {% endfor %}
                  </div>
                  <div class="col-md-6 single-info">
                     <span style="color: #00ebab; text-transform: uppercase;">Links:</span>
                     <p><a href="{{ production.filepath.path.url }}">{{ production.filepath.path|cut:'files/' }}</a>
                        <br/>{{ production.filepath.path.size }} bytes</p>
                     <p><a href="{{ production.videolink }}" target="_blank">{{ production.videolink }}</a></p>
                  </div>
               </div>
            </div>
            

             
          </div>
       </div>
    </div>
    {% endfor %}   
 </div>
 <hr/>
 {% endblock %}