{% extends 'base/layout.html' %}
{% load filter_tags %}
{% load static %}
{% load embed_video_tags %}
{% load mathfilters %}
{% block content %}

<section class="production bg-dark" id="product">
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 col-md-offset-3 col-md-pull-3 text-center">
            <span class="heading-meta">Producciones</span>
            <span class="heading-meta-sub">Producciones</span>
         </div>
      </div>

      <div class="row bg-dark">
         <div class="col-md-6 mb-6">
            {% if production.videolink %}
               {% video production.videolink as videolink %}
                  {% video videolink '100% x 450' %}
               {% endvideo %}
            {% endif %}
         </div>
         <div class="col-md-6">
            <div id="sticky_item">
               <div class="desc">
                  <h2>{{ production.title }}
                     <span class="text-muted"><small>{{ production.get_production_type_display }} </small> 
                        {% if production.group %}
                           <small> by {{ production.group.name }} </small>
                        {% endif %}
                         <small>| {{ production.edition.name }} </small>
                     </span>
                  </h2>
                  <div class="content-info">
                     <div class="row item">
                        {% if clasificacion %}
                        <div class="col-md-6 single-info">
                           <span style="color: #00ebab; text-transform: uppercase;">Clasificación:</span>
                           <p>{{ clasificacion }} position {{ production.get_production_type_display }} compo</p>
                        </div>
                        {% endif %}
                        <div class="col-md-6 single-info">
                           <span style="color: #00ebab; text-transform: uppercase;">Tipo:</span>
                           <p>{{ production.get_production_type_display }}</p>
                        </div>

                        <div class="col-md-6 single-info">
                           <span style="color: #00ebab; text-transform: uppercase;">Grupo:</span>
                           <p>{{ production.group.name }}</p>
                        </div>

                        <div class="col-md-6 single-info">
                           {% if production.authors.all|length > 1 %}
                              <span style="color: #00ebab; text-transform: uppercase;">Autores:</span>
                           {% else %}
                              <span style="color: #00ebab; text-transform: uppercase;">Autor:</span>
                           {% endif %}
                           <br/>
                           {% for author in production.authors.all %}
                              {{ author.name }}<br/>
                           {% endfor %}
                        </div>
                        <div class="col-md-6 single-info">
                           <p><a href="{{ production.filepath.url }}"><i class="icon fas fa-download"></i> {{ production.filepath.path | last_element:"/" }}</a>
                              <br/>{{ production.filepath.size | intdiv:1024 }} Kb</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin:4px 2px 0 0;">  
              
         {% if production.description %}
         <div class="content-info">
            <div class="single-info">
               {{ production.description | safe}}
            </div>
         </div>
         {% endif %}
      </div>
   </div>
   
</section>
<section  class="rel_productions bg-dark" id="blog">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12  text-center">

            <h3>Otras producciones de </h3>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-12 col-md-12">
            <div class="blog_slider owl-carousel ">

               <div class="col-md-12 col-sm-12">
                  <div class="blog-entry">

                     <div class="col-md-6 no-padding">
                        <a href="/productions/{{ production.id }}" class="blog-img"><img src="{{production.preview.url}}" class="img-responsive" alt=""></a>
                     </div>
                     <div class="col-md-6">
                     <div class="desc">
                        <span class="text-muted"><small>{{ production.get_production_type_display }} </small> 
                           {% if production.group %}
                              <small> by {{ production.group.name }} </small>
                           {% endif %}
                           <small>| {{ production.edition.name }} </small>
                        </span>
                        <h3><a href="/productions/{{ production.id }}">{{ production.title }}</a></h3>
                        <p></p>
                     </div>
                     </div>
                  </div>
               </div>


            </div>
         </div>
      </div>

   </div>
</section>
 {% endblock %}

 <div class="col-md-12 col-sm-12">
                  
   <div class="blog-entry">
      <div class="row">
         <div class="col-md-12 no-padding">
            <a href="/productions/{{ production.id }}" class="blog-img mb-3"><img src="{{production.preview.url}}" class="img-responsive" alt=""></a>
         </div>
         <div class="col-md-12">
            <div class="desc">
               <span class="text-muted"><small>{{ production.get_production_type_display }} </small> 
                  {% if production.group %}
                     <small> by {{ production.group.name }} </small>
                  {% endif %}
                  <small>| {{ production.edition.name }} </small>
               </span>
               <h3 style="margin:0px;"><a href="/productions/{{ production.id }}">{{ production.title }}</a></h3>
                              
               <div class="desc">
                  
                     <small>
                     {% if production.authors.all|length > 1 %}
                        <span style="color: #00ebab; text-transform: uppercase;">Autores:</span>
                     {% else %}
                        <span style="color: #00ebab; text-transform: uppercase;">Autor:</span>
                     {% endif %}
                     </small>
                     <br/>
                     {% for author in production.authors.all %}
                        {% if forloop.first == False %}<span>, {{ author.name }}</span>
                        {% else %}
                        {{ author.name }}
                        {% endif %}
                        
                     {% endfor %}
                 
               </div>
               
            </div>
         </div>
      </div>
      
   </div>

</div>